body {
    font-family: 'Mukta Malar', sans-serif;
    background-color: aliceblue;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

ul {
    list-style-type: disc;
    color: black;
}

main {
    text-align: center;
    position: relative;
}

header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#cover {
    text-align: center;
}

#start {
    background-color: #57d457;
    border: 2px solid black;
    padding: 10px;
    position: absolute;
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    cursor: pointer;
    top: 40%;
    transform: translate(-50%, -77%);
}

#msg-banner {
    background-color: rgb(87, 212, 87, 0.9);
    padding: 20px;
    display: none;
    width: 100%;
    position: absolute;
    color: white;
    text-transform: uppercase;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -77%);
    z-index: 100;
}

.row {
    display: flex;
    justify-content: center;
}

.block {
    width: 100px;
    height: 100px;
    border-bottom: 2px solid #272727;
    border-right: 2px solid #272727;
    border-top: 2px solid #949494;
    border-left: 2px solid #949494;
    background-color: #797979;
    /* display: inline-block;
    padding: 0;
    margin: 0;
    float: left; */
    /* box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; */
    cursor: pointer;
}

.block:hover {
    background-color: rgb(0, 0, 0, 0.3);
}

.sidebar {
    position: absolute;
    padding: 2em;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

#score, #time {
    font-size: 1.5em;
    margin: 5px;
}

.game-info {
    margin: 20px;
}

#pile {
    max-width: 100px;
}

.pile-block {
    border: 1px solid black;
    margin-top: 10px;
}

.current {
    border: 2px solid black;
    margin-top: 60px;
}

#board img {
    width: 100%;
}

.instructions {
    margin: 30px;
}

.instructions ul {
    display: inline-block;
    text-align: left;
    margin: 20px;
    line-height: 1.5em;
}

/* pipe style */

.bottom-left {
    transform: rotate(-90deg);
}

.top-right {
    transform: rotate(90deg);
}

.bottom-right {
    transform: rotate(180deg);
}

.top-left.reverse {
    -moz-transform: scaleX(-1) rotate(90deg);
    -o-transform: scaleX(-1) rotate(90deg);
    -webkit-transform: scaleX(-1) rotate(90deg);
    transform: scaleX(-1) rotate(90deg);
}

.top-right.reverse {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.bottom-left.reverse {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.bottom-right.reverse {
    -moz-transform: scaleY(-1) rotate(90deg);
    -o-transform: scaleY(-1) rotate(90deg);
    -webkit-transform: scaleY(-1) rotate(90deg);
    transform: scaleY(-1) rotate(90deg);
}


.straight.reverse {
    -moz-transform: scaleY(-1) rotate(180deg);
    -o-transform: scaleY(-1) rotate(180deg);
    -webkit-transform: scaleY(-1) rotate(180deg);
    transform: scaleY(-1) rotate(180deg);
}

.vertical-straight.reverse {
    -moz-transform: scaleY(-1) rotate(270deg);
    -o-transform: scaleY(-1) rotate(270deg);
    -webkit-transform: scaleY(-1) rotate(270deg);
    transform: scaleY(-1) rotate(270deg);
}

.curve {
    width: 100px;
    height: 100px;
    background: url("../images/curve-full.png") right center no-repeat; 
    background-size: auto 100%;
    animation: play 2s steps(24);
    animation-play-state: paused;
}

.straight {
    width: 100px;
    height: 100px;
    background: url("../images/straight-full.png") right center no-repeat; 
    background-size: auto 100%;    
    animation: play-straight 2s steps(19);
    animation-play-state: paused;
}

.end {
    width: 100px;
    height: 100px;
    background: url("../images/end-full.png") right center no-repeat; 
    background-size: auto 100%;    
    animation: play-end 2s steps(14);
    animation-play-state: paused;  
}

.vertical-straight {
    transform: rotate(270deg);
    width: 100px;
    height: 100px;
    background: url("../images/straight-full.png") right center no-repeat; 
    animation: play-straight 2s steps(19);
    background-size: auto 100%;
    animation-play-state: paused;
}

.vertical-cross {
    animation-play-state: paused !important;
}

.anim-vert-cross {
    animation-play-state: running !important;
}

.anim {
    animation-play-state: running;
}

/* animation */

@keyframes play {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: -2400px;
    }
}

@keyframes play-straight {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: -1900px;
    }
}

@keyframes play-end {
    from {
        background-position: 0px;
    }
    to {
        background-position: -1400px;
    }
}