h1 {
    font-size: 2em;
}

main {
    text-align: center;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#board {
    text-align: center;
}

#start {
    background-color: #57d457;
    border: 2px solid black;
    padding: 10px;
    position: absolute;
    top: 50%;
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    cursor: pointer;
}

.row {
    display: flex;
    justify-content: center;
}

.block {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: white;
    /* display: inline-block;
    padding: 0;
    margin: 0;
    float: left; */
    /* box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; */
    cursor: pointer;
}

.block:hover {
    background-color: rgb(0, 0, 0, 0.3);
}

.sidebar {
    position: absolute;
    padding: 2em;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

#pile {
    max-width: 100px;
}

.current {
    border: 2px solid black;
}

#board img {
    width: 100%;
}

.bottom-left {
    transform: rotate(-90deg);
}

.top-right {
    transform: rotate(90deg);
}

.bottom-right {
    transform: rotate(180deg);
}

.top-left.reverse {
    -moz-transform: scaleX(-1) rotate(90deg);
    -o-transform: scaleX(-1) rotate(90deg);
    -webkit-transform: scaleX(-1) rotate(90deg);
    transform: scaleX(-1) rotate(90deg);
}

.top-right.reverse {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.bottom-left.reverse {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.bottom-right.reverse {
    -moz-transform: scaleY(-1) rotate(90deg);
    -o-transform: scaleY(-1) rotate(90deg);
    -webkit-transform: scaleY(-1) rotate(90deg);
    transform: scaleY(-1) rotate(90deg);
}


.straight.reverse {
    -moz-transform: scaleY(-1) rotate(180deg);
    -o-transform: scaleY(-1) rotate(180deg);
    -webkit-transform: scaleY(-1) rotate(180deg);
    transform: scaleY(-1) rotate(180deg);
}

.vertical-straight.reverse {
    -moz-transform: scaleY(-1) rotate(270deg);
    -o-transform: scaleY(-1) rotate(270deg);
    -webkit-transform: scaleY(-1) rotate(270deg);
    transform: scaleY(-1) rotate(270deg);
}


/* end no work */
.reverse-x {
    /* -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scale(-1, 1); */
    animation-direction: alternate-reverse;
    filter: FlipH;
    -ms-filter: "FlipH";
}

.curve {
    width: 100px;
    height: 100px;
    background: url("../images/curve-full.png") right center no-repeat; 
    background-size: auto 100%;
    animation: play 2s steps(24);
    animation-play-state: paused;
}

.straight {
    width: 100px;
    height: 100px;
    background: url("../images/straight-full.png") right center no-repeat; 
    background-size: auto 100%;    
    animation: play-straight 2s steps(19);
    animation-play-state: paused;
}

.end {
    width: 100px;
    height: 100px;
    background: url("../images/end-full.png") right center no-repeat; 
    background-size: auto 100%;    
    animation: play-end 2s steps(14);
    animation-play-state: paused;  
}

.vertical-straight {
    transform: rotate(270deg);
    width: 100px;
    height: 100px;
    background: url("../images/straight-full.png") right center no-repeat; 
    animation: play-straight 2s steps(19);
    background-size: auto 100%;
    animation-play-state: paused;
}

.vertical-cross {
    animation-play-state: paused !important;
}

.anim-vert-cross {
    animation-play-state: running !important;
}

.anim {
    animation-play-state: running;
}

.anim-curve {
    animation: play 2s steps(24);
}

.anim-straight {
    animation: play-straight 2s steps(19);
}

.test-2 {
    width: 100px;
    height: 100px;
    background: url("../images/straight-full.png") right center no-repeat; 
    animation: play-straight 1s steps(19);
    background-size: auto 100%;
}

.test-vertical {
    transform: rotate(270deg);
    width: 100px;
    height: 100px;
    background: url("../images/straight-full.png") right center no-repeat; 
    animation: play-straight 1s steps(19);
    background-size: auto 100%;
}

.test-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.test-img img {
    height: 100%;
    width: auto;
}

@keyframes play {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: -2400px;
    }
    /* 100% {
        background-position: -2400px;
    } */
}

@keyframes play-straight {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: -1900px;
    }
    /* 100% {
        background-position: -1900px;
    } */
}

@keyframes play-end {
    from {
        background-position: 0px;
    }
    to {
        background-position: -1400px;
    }
    /* 100% {
        background-position: -1400px;
    } */
}